In [76]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('../data/df_true.csv')

# Display the first few rows of the dataframe
df.head()

                              file_name label
0  8bd9027e-6269-4a1a-b047-b0f779a08d31    BC
1  9bb3a046-486b-4559-8bac-df771ce3682a    BC
2  f1269315-1237-4058-b0c5-498bfc49859a    BC
3  cb0b2742-a475-4ad5-8c2c-8438c54d4091    BC
4  25eeb3cb-4367-499e-b639-dc801436e02e    BC

In [68]:
df.columns

Index(['file_name', 'label'], dtype='object')

In [69]:
df.shape

(8441, 2)

In [77]:
import pandas as pd
import os

# === Paths ===
csv_file = '../data/df_true.csv'
image_folder = 'C:/Users/Christian/Desktop/N1_data/image_data'

# === Load image names from CSV ===
df = pd.read_csv(csv_file)

# Normalize: strip, lowercase, ensure .png extension
csv_image_names = df['file_name'].astype(str).str.strip().str.lower()
csv_image_names = csv_image_names.apply(lambda x: x if x.endswith('.png') else f"{x}.png")

# === Load actual image filenames from folder ===
folder_image_names = {f.strip().lower() for f in os.listdir(image_folder)}

# === Find missing images ===
missing_images = [name for name in csv_image_names if name not in folder_image_names]

# === Print results ===
print(f"\nMissing images: {len(missing_images)}")
for img in missing_images:
    print(img)

# === Optional: Save to CSV ===
pd.Series(missing_images).to_csv('missing_images.csv', index=False, header=False)

Missing images: 9
87e105e3-a850-44b8-8056-9c3b96934b0d.png
5c9dc452-38e2-46e1-a67d-cef350df08e6.png
2e12b1a5-c07a-4200-bb21-9da3b76120d9.png
80e3ba53-4736-43c4-b47a-29eed74e53a7.png
5f221aea-4f4c-4bf3-bed8-1c20e9ca9e72.png
281a552f-edf2-4d7e-8b4e-a234914fab16.png
0c011cd2-6490-4b9d-8a17-381c93d08549.png
77fc3be4-e77b-4168-8fc6-8880497e6f8f.png
0976adfb-69e3-4a90-926e-d678dbb749c7.png

In [78]:
# List of file names to remove
file_names_to_remove = [
    '87e105e3-a850-44b8-8056-9c3b96934b0d',
    '5c9dc452-38e2-46e1-a67d-cef350df08e6',
    '2e12b1a5-c07a-4200-bb21-9da3b76120d9',
    '80e3ba53-4736-43c4-b47a-29eed74e53a7',
    '5f221aea-4f4c-4bf3-bed8-1c20e9ca9e72',
    '281a552f-edf2-4d7e-8b4e-a234914fab16',
    '0c011cd2-6490-4b9d-8a17-381c93d08549',
    '77fc3be4-e77b-4168-8fc6-8880497e6f8f',
    '0976adfb-69e3-4a90-926e-d678dbb749c7'
]

# Remove rows where file_name is in the list
df = df[~df['file_name'].isin(file_names_to_remove)]

In [79]:
df.shape

(8432, 2)

In [82]:
#add '.png' after all file names in the column 'file_name'
df['file_name'] = df['file_name'].astype(str).str.strip().str.lower()
df['file_name'] = df['file_name'].apply(lambda x: x if x.endswith('.png') else f"{x}.png")
df['file_name'].head(10)

0    8bd9027e-6269-4a1a-b047-b0f779a08d31.png
1    9bb3a046-486b-4559-8bac-df771ce3682a.png
2    f1269315-1237-4058-b0c5-498bfc49859a.png
3    cb0b2742-a475-4ad5-8c2c-8438c54d4091.png
4    25eeb3cb-4367-499e-b639-dc801436e02e.png
5    c4705ce7-51ea-4ea1-94bf-4bdd6c8ea787.png
6    f0c0058f-0351-44ef-a790-f65ad844b870.png
7    e2a22d70-46e6-426c-a067-23faaac7c4cd.png
8    4b1454cc-5dd4-46d8-b767-380bd396de0d.png
9    c999db20-1076-487d-9a69-edb2b148ba7b.png
Name: file_name, dtype: object

In [83]:
df.head()

                                  file_name label
0  8bd9027e-6269-4a1a-b047-b0f779a08d31.png    BC
1  9bb3a046-486b-4559-8bac-df771ce3682a.png    BC
2  f1269315-1237-4058-b0c5-498bfc49859a.png    BC
3  cb0b2742-a475-4ad5-8c2c-8438c54d4091.png    BC
4  25eeb3cb-4367-499e-b639-dc801436e02e.png    BC

In [84]:
#save df to csv with name df_true.csv
df.to_csv('../data/df_true2.csv', index=False)

In [85]:
csv_file = '../data/df_true2.csv'
df = pd.read_csv(csv_file)

In [86]:
df.shape

(8432, 2)

In [88]:
#count unique values in column label:
df['label'].unique()

array(['BC', 'BC K.M.skab', 'CP1', 'CP3', 'CP4', 'CP6', 'Kabeldon CDC420',
       'Kabeldon CDC440', 'Kabeldon CDC460', 'Kabeldon KSIP423',
       'Kabeldon KSIP433', 'Kabeldon KSIP443', 'Kabeldon KSIP463',
       'Kabeldon KSIP483', 'Kombimodul 2M', 'Kombimodul 3M',
       'Kombimodul 4M', 'KSE09', 'KSE12', 'KSE15', 'KSE18', 'KSE21',
       'KSE27', 'KSE36', 'KSE45', 'MEL1', 'MEL2', 'MEL3', 'MEL4', 'NU',
       'PK20', 'PK35', 'PK48', 'SC'], dtype=object)